* {
    box-sizing: border-box;
}

body{
    height: 100vh;
}

.main-layout{
    margin-right: auto;
    margin-left: auto;
    max-width: 1560px;
    height: 100%;
    background-color: beige;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.2fr 0.6fr 0.1fr;
    grid-template-areas: 'nav' 'controller' 'main' 'footer';
}

nav{
    grid-area: nav;
    background-color: green;
}

.main-controller{
    grid-area: controller;
    background-color: aquamarine;
}

.main-content{
    grid-area: main;
    background-color: lightcoral;
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
    grid-template-rows: 0.5fr 0.5fr;
    grid-template-areas: 'weather map' 
                        'locations map';
}
#map{
    grid-area: map;
}
.locations-container{
    grid-area: locations;
    border: 3px solid black;
}

.weather-container{
    grid-area: weather;
    border: 3px solid black;
}

footer{
    grid-area: footer;
    background-color: lightblue;
}

@media (max-width:760px) {
    .main-content{
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 0.8fr 0.1fr;
        grid-template-areas: 'weather' 'map' 'locations';
    }
}